*{
    box-sizing: border-box;
    margin:0;
	padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
font-size: 1.1rem;
height: 100%;
}

body, main {
    /* aca saque header y footer; */
    /* border: 3px red solid; */
    min-height: 50px;
    /* margin: 0.5rem; */
    min-width: 200px;
}

.header-logo {
	height: 75px;
	width: 20%;
	background-color: black;
	display: inline-block;
    float: left;
    border-bottom: 2px rgb(134, 134, 134, 50%) solid;
    position: relative;
    z-index: 10;
    /* border: 3px red solid; */
}

.header-logo img {
	width: 100px;
    /* margin: 0 10px 0 20px; */
    float: left;
    padding: 10px;
    vertical-align: middle;
    cursor: pointer;
}

.header-menu {
	height: 75px;
	width: 80%;
	background-color: black;
	display: inline-block;
    float: right;
    position: relative;
    right: auto;
    top: auto;
    border-bottom: 2px rgb(134, 134, 134, 50%) solid;
    /* overflow: hidden; */
    /* box-shadow: 0 0 0.5rem 0 gray; */
    /* border: 3px red solid; */
}

.header-menu ul {
	list-style: none;
}

.header-menu li {
	float: right;
	text-align: right;
	padding: 20px 20px 20px 20px;
    font-size: 22px;
    font-weight: 500;
    display: block;
    cursor: pointer;
}

.header-menu a {
	text-decoration: none;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

.header-menu a:hover {
	color: rgb(134, 134, 134);
}

main {
	min-height: 200px;
    background-color: black;
    color: white;
    text-align: justify;
    overflow: auto;
}

main>div {
    min-height: 180px;   
    margin: 0.5rem; 
    height: auto;
    float: left;
    /* border: 2px blue solid; */
}

main>aside {
    min-height: 0px;   
    min width: 25%;
    margin: 0.5rem; 
    float: left;
    width: auto;
    /* border: 2px yellow solid; */
}

.secciones {
    min-height: 50px;   
    margin: 0.5rem; 
    padding: 0.5rem;
    /* border: 2px green solid; */
}

.titulos {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    margin: 0 0 15px 0;
    font-size: xx-large;
}

.titulos-secundarios {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    margin: 0 0 15px 0;
    font-size: large;
}

footer {
	height:auto;
	background-color:black;
	text-align:center;
	color:white;
    padding: 10px 0 10px 0;
    font-family: 'Roboto Mono', monospace;
    border-top: 2px rgb(134, 134, 134, 50%) solid;
    /* border: 2px violet solid; */
}

.formulario {
    min-height: 650px;
    padding: 0.5rem;
}

.titulos-formulario {
    /* min-height: 650px; */
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    font-size: large;
}

.campos-formulario {
    border-radius: 0.6rem;
    min-height: 35px;
    min-width: 50%;
}

.consulta-formulario {
    border-radius: 0.6rem;
    min-height: 100px;
    min-width: 50%;
}

.boton {
    padding: 0.3rem;
    margin: 0.5rem;
    margin-left: 1rem;
}

.carrusel {
    max-height: 150px;
    min-width: 80%;
}

/* .grid {
    display: grid;
    grid-template-rows: (2, 75px);
    grid-template-columns: [x0] 20% [x1] 80%;
    border: 2px orange solid;
    background-color: black;
} */

.grid-f1 {
    display: grid;
    /* grid-template-rows: (2, auto); */
    /* grid-column-gap: 10px; */
    grid-template-columns: [x0] 65% [x1] 35%;
    align-items: center;
}

.grid-f2 {
    display: grid;
    grid-template-rows: auto;
    /* grid-column-gap: 10px; */
    grid-template-columns: [x0] 65% [x1] 35%;
    align-items: center; 
}

/* https://webdesign.tutsplus.com/es/articles/css3-transitions-and-transforms-from-scratch--webdesign-4975 */

#axis:hover .move-ne {
    transform: translate(10px,10px);
    -webkit-transform: translate(10px,10px);
    -o-transform: translate(100px,10px); 
    -moz-transform: translate(10px,10px);  
}

#axis:hover .larger{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1); 
    -moz-transform: scale(1.1);
}

@media (max-width:768px){
    .grid-f1 {
        display: grid;
        grid-template-rows: 100% 100%;
        grid-template-columns: auto;
        align-items: center;
        grid-row-gap: 10px;
        display: block;
    }
    
    .grid-f2 {
        display: grid;
        grid-template-rows: 100% 100%;
        grid-template-columns: auto;
        align-items: center; 
        display: block;
    }
}
  
  @media (max-width:630px){
    .header-logo {
        height: 0px;
        width: 0%;
    }
    
    .header-logo img {
        width: 0px;
    }

    .header-menu {
        height: auto;
        width: 100%;
        background-color: black;
        display: inline-block;
        float: right;
        position: relative;
        right: auto;
        top: auto;
        border-bottom: 2px rgb(134, 134, 134, 50%) solid;
  }
}